
.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header{
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 1em;
  margin-bottom: 2em;
  background-color: rgb(50, 39, 37);
  color: #fff;
}

.Header a{
  text-decoration: none;
  color: #fff;

}

.Footer{
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: baseline;
    padding: 1.5em;
    background-color: #F8F8F8;
    border-top: 1px solid #E7E7E7;
    position: fixed;
    bottom: 0px;
    height: 10px;
    /* padding-bottom: 1px; */
    /* margin: 10px; */
}

.Footer a {
  text-decoration: none;
  color: black;
}

.Footer .Fleft{
  position: fixed;
  display: inline-block;
  left: 0;
  bottom: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  /* border: 1px solid green; */
}


.Footer .Fright{
  position: fixed;
  display: inline-block;
  right:0;
  bottom: 0;
  padding-bottom: 15px;
  padding-right: 20px;
}

.Terms{
  /* border: 1px solid green; */
  margin: 30px 30px;
  font-family: verdana;
  text-align: justify;
  padding: 50px;

}

.Terms h2{
  text-align: center;
}



#Copy{
  text-align: center;

}

.calendar-search {
  pointer-events: none;
}

.nav {
  background-color: black;
}

.spacer{
  height: 145px;
}
